.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(49, 45, 45);
}

.modal__content {
  
}

.login__form {
  display: inline-block;
  margin: 25px auto;
}


.log {
  font-size: 50px;

}

.row {
  display: flex;

}