@import "nullStyle.scss";

/*----------------------------------------------------------------------------*/
body {
  background-color: rgb(26, 52, 51);
}

.notes__app {
    max-width: 700px;
  margin: 20px auto;
}

.row {
  display: flex;
  justify-content: space-between;
}
.header {
  width: 100%;
  display: flex;
}

@media (max-width: 730px) {
  .App {
    max-width: 570px;
    margin: 0 auto;
  }
  .header {
    flex-wrap: wrap;
  }
  
}

@media (max-width: 570px) {
  .App {
    max-width: 450px;
    margin: 0 auto;
  }
.row {
  display: block;
  margin:0 3px;
}
  .header {
    flex-wrap: wrap;
    justify-content: right;
  }

}

@media (max-width: 370px) {
  .App {
    max-width: none;
    margin: 0 4px;
  }
  .header {
    flex-wrap: wrap;
        justify-content: right;
  }
}
.box__magic__login {
  margin: 10px auto;
}
.magic__login {
  text-transform: uppercase;
}



hr {
  margin: 15px 0;
  border: 1px;
}




.row_column {
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

.sorting {
  width: 100px;
  height: 30px;
  font-size: 16px;
  border: 1px solid rgb(129, 127, 127);
  border-radius: 5px;
  text-align: center;
}

.tegSt {
  color: rgb(68, 45, 175);
}

.tegs__box {
  padding: 3px 0;

}
  span {
    color: rgba(245, 245, 220, 0.734);
  }

.search {
  height: 30px;
  width: 200px;
  border: 1px solid rgb(129, 127, 127);
  border-radius: 10px;
  padding: 0 7px;
  font-size: 16px;
  padding-bottom: 3px;
  border-radius: 8px;
  background-color: rgba(216, 201, 201, 0.319);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  color: beige;
    &::placeholder {
      color: rgba(245, 245, 220, 0.734);
    }
}

.note__content {
  border-radius: 8px;
  background-color: rgba(216, 201, 201, 0.319);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  margin: 20px 0;
  padding: 10px;
}



.not_autorisation {
  background-color: rgb(49, 45, 45);
  color: beige;
  text-transform: uppercase;
    &:hover {
      text-shadow: rgba(130, 132, 13, 0.75) 0 0 10px;
    }
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  } 
  100% {
 
    transform: translateX(0);
       opacity: 1;
  }
}


@keyframes fade-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  } 
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

.noteList-enter-active {
  animation: fade-in 500ms forwards;
}

.noteList-exit-active {
  animation: fade-out 500ms forwards;
}

.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}


.register__form-enter {
  opacity: 0;
}
.register__form-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.register__form-exit {
  opacity: 1;
}
.register__form-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}